{% extends "main/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formtags %}

{% block title %}
{% endblock title %}

{% block head_block %}
  <link rel="stylesheet" href="{% static '/static/css/main.css' %}" />
{% endblock %}

{% block body_block %}
  <div class="container text-center">
    <h1>It's All about Coffee</h1>
    <small>Fika Shop</small>

    <div class="row text-center">
      <div class="col-sm-4">
        <div class="card" style="width: 18rem">
          <img src="/media/cart.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem">
          <img src="/media/cart.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem">
          <img src="/media/cart.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}