{% extends "main/base.html" %}
{% load staticfiles %}


{% block head_block %}

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
  integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
  crossorigin="anonymous"
/>
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
  crossorigin="anonymous"
/>
<link rel="stylesheet" href="{% static '/static/css/homepage.css' %}" />
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<style>
  @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

  * {
    font-family: "Poppins", sans-serif;
  }
</style>



{% endblock %} {% block body_block %}

<link rel="stylesheet" href="{% static 'css/main.css' %}" />


<div class="container text-center p-5">
  <div class="mb-4 homepage-title">
    <h1 class="text-uppercase fw-lighter">It's All about Coffee</h1>

    <a style="text-decoration: none" href="{% url 'fika_room' %}" class="fikka_button">
      <h1 class="text-center fw-bold display-1 mb-5" data-aos="zoom-in">
        Let's<span class="text-danger"> Fika</span>
      </h1>
    </a>
  </div>

  <div class="row justify-content-md-center" data-aos="fade-up">
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem">
        <img
          src="/media/images/card_image3.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body p-5">
          <small> A comprehensive guide on coffee tasting</small>
          <a href="{% url 'article_1' %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem">
        <img
          src="/media/images/card_image.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body p-5">
          <small>10 Best Coffee Beans in The World Reviews..</small>
          <br />
          <a href="{% url 'article_2' %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card text-center" style="width: 18rem">
        <img
          src="/media/images/card_Image2.jpg"
          class="card-img-top"
          alt="..."
          style="height: 200px"
        />
        <div class="card-body p-5">
          <small>4 Types of Coffee Roasts with Images</small><br />
          <a href="{% url 'article_3' %}" class="btn btn-primary">Read more</a>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid my-6 p-5">
    <hr />
    <a href="{% url 'store' %}">
    <h3 class="text-center fw-bold mb-5 about-title">
      Best <span> Seller </span>
    </h3>
    </a>
    

    <div class="row">
      <div class="col-12 m-auto">
        <div class="owl-carousel owl-theme">
          <div class="item mb-5">
            <div class="card border-0 shadow">
              <img
                src="/media/coffee_images/image1.jpeg"
                alt=""
                class="card-img-top"
                style="height: 150px"
              />
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Espresso Machine</h4>
                  <small class="star">★★★✰✰</small>
                </div>
              </div>
            </div>
          </div>

          <div class="item">
            <div class="card border-0 shadow">
              <img
                src="/media/coffee_images/coffee2.jpeg"
                style="height: 150px"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Next 2 machines</h4>
                  <small class="star">★★★★✰</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img
                src="/media/coffee_images/coffee3.jpeg"
                style="height: 150px"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>New levelup</h4>
                  <small class="star">★★★★✰</small>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="card border-0 shadow">
              <img
                src="/media/coffee_images/coffee4.jpeg"
                style="height: 150px"
                alt=""
                class="card-img-top"
              />
              <div class="card-body">
                <div class="card-title text-center">
                  <h4>Next 1 coffee</h4>
                  <small class="star">★★★✰✰</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <div class="container">
      <div class="row">
        <div class="col-sm-5" data-aos="fade-right">
          <img style="height: 500px" src="/media/images/about-me.jpg" />
        </div>
        <div class="col" data-aos="fade-left">
          <h3 class="about-title">About us</h3>
          <p class="p-4 lh-lg">
            Therefore, we blog daily, and constantly try to up our game by
            following other blogs, news, and YouTubers. Right now we publish
            multiple pieces each week. We’re also looking to start a YouTube
            channel shortly where we show you how to do different types of
            brewing, test different subscriptions and so much more. You can
            enjoy your fika and select your favorite coffee beans with us We’re
            always up for a coffee discussion, and you can reach out to us at
            any time through our contact details.
            <small>info@fikashop.com</small>
          </p>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
    ></script>
    <script>
      $(".owl-carousel").owlCarousel({
        loop: true,
        margin: 15,
        nav: false,
        autoplay: true,
        autoplayTimeout: 2000,
        autoplayHoverPause: true,
        responsive: {
          0: {
            items: 1,
          },
          600: {
            items: 2,
          },
          1000: {
            items: 3,
          },
        },
        
        dots: false,
      });
    </script>
  </div>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>
    AOS.init();
  </script>
</div>

{% endblock %}
