{% extends "main/base.html" %}
{% load staticfiles %}

{% block head_block %}

{% endblock %}

{% block body_block %}

  <div class="signup-form">
    <h3>Login</h3>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <label class="form-label" for="username">Username:</label>
      <input class="form-control mb-2" type="text" name="username" placeholder="Username"/>

      <label class="form-label" for="password">Password:</label>
      <input autocomplete="current-password" class="form-control" type="password" name="password" type="password" placeholder="Password" id="id_password" data-toggle="password"/><i class="far fa-eye" id="togglePassword" style="margin-left: 380px; cursor: pointer; transform: translateY(-30px);">
      </i>

      <h4>Do not have an account? <a href="{% url 'signup' %}">Click here</a> to create one.</h4>

      <input class="btn btn-secondary btn-block" type="submit" name="submit" value="Login">
    </form>
  </div>


  <script src="{% static 'js/showPassword.js' %}"></script>

{% endblock %}

