<!-- <!DOCTYPE html>
<html>
    <head>
        <title> navbar page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main1.css">
    </head>


    <body> -->
        

        <div class="navbar">
            <a class="active" href="{% url 'home' %}">Coffee<img src="/media/coffee-bean.png">Shop</a> 
            <a class="active" href="{% url 'home' %}"><img src="/media/home.jpg"> Home</a> 
            <a class="active" href="{% url 'admin:index' %}"><img src="/media/admin.png"> Admin</a> 
            <a class="active" href="#"><img src="/media/store.png"> Store</a>
            <a class="active" href="{% url 'signup' %}"><img src="/media/register.jpg"> Register</a>
            <a class="active" href="{% url 'login' %}"><img src="/media/login.png"> Login</a>
            <a class="active" href="#"><img src="/media/cart.png"> Cart</a>
        </div>
        <div class="tittle"></div>

<!--     </body>
</html> 
 -->