<!-- <!DOCTYPE html>
<html>
    <head>
        <title> navbar page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="main1.css">
    </head>


    <body> -->
        

        <div class="navbar">
            <div class="logo">
                <a class="active" href="{% url 'index' %}"><img src="/media/coffee-bean.png" width="150px">Fika Shop</a>
                

            </div> 
            <nav>
                <ul id="MenuItems">
                    
                    <li> <a class="active" href="{% url 'store' %}"><img src="/media/store.png"> Store</a></li>
                    {% if user.is_superuser %}
                    <li><a class="active" href="{% url 'admin:index' %}"><img src="/media/admin.png"> Admin</a></li>
                    {% endif %}
                    
                    {% if user.is_authenticated %}

                    <li><a class="active" href="{% url 'wish_list' %}"><img src="/media/wish_list.png" class="cart-img"></a></li>
                    <li><a class="active" href="{% url 'user' %}"><img src="/media/user.png">{{ user.username }}</a></li>
                    <li><a class="active" href="{% url 'logout' %}"><img src="/media/logout1.png"> Logout</a></li>
                    {% else %}

                    <li><a class="active" href="{% url 'signup' %}"><img src="/media/register.jpg"> Signup</a></li>
                    <li><a class="active" href="{% url 'login' %}"><img src="/media/login.png"> Login</a></li>
                    {% endif %}
                    <li><a class="active" href="{% url 'cart' %}"><img src="/media/cart.png"></a></li>

                </ul>
            </nav>
            <div class="menu-icon">
                <img src="/media/menu1.png" class="menu-icon" onclick="menutoggle()">
            </div>
        </div>
<!--     </body>
</html> 
 -->