{% extends "main/base.html" %} {% load staticfiles %} {% load widget_tweaks %}
{% load formtags %} {% block body_block %}
<ul></ul>
{% if registered %}
<div class="signup-message">
  <h1>
    Thank you for registering<br />You can update your profile info in your
    profile page.
  </h1>
  <button><a href="{% url 'home' %}"> Ok</a></button>
</div>
{% else %}
<div class="wrapper">
  <div class="inner">
    <h3>Sign up</h3>
    {% if user_form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <ul class="ul-error-list">
        {% for key, value in user_form.errors.items %}
        <li><strong>{{ value | striptags }}</strong></li>
        {% endfor %}
      </ul>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %}
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!-- {#{ user_form.as_p }} -->

      {% for field in user_form %}
      <div class="form-wrapper">
        {{ field.label_tag }} {{ field.errors }} {% if field.errors %} {{
        field|bclass:"form-control is-invalid" }} {% else %}
        {{field|bclass:"form-control valid" }} {% endif %}
      </div>
      {% endfor %}

      <i
        class="far fa-eye"
        id="togglePassword"
        style="
          z-index: 20;
          margin-left: 280px;
          cursor: pointer;
          transform: translateY(-42px);
        "
      >
      </i>
      <div class="margin"></div>
      {{ profile_form.as_p }}
      <button type="submit" name="submit">sign up</button>
    </form>
  </div>
</div>

{% endif %}

<script src="{% static 'js/showPassword.js' %}"></script>
{% endblock %}
