{% extends "main/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load formtags %}

{% block title %}{{user.username}}{% endblock title %}

{% block head_block %}
  <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block body_block %}

{% if request.path == "/user/" %}
  <h1 class="jumbotron">User page</h1>
  <h2>This page should perhaps contain previous orders...</h2>
{% else %}
  <h1 class="jumbotron">Blog page</h1>
{% endif %}


<div class="profile-card">
  <div class="profile-pic">
    {% if request.user.profile.image %}
      <img src="{{request.user.profile.image.url}}" alt="" />
    {% else %}
      <img src="/media/profile_pics/default.png" alt="" />
    {% endif %}
  </div>
  <div class="welcome">Welcome back!</div>
  <div class="user-data">User name: <b>{{user.username}}</b></div>
  <div class="user-data">Email: <b>{{user.email}}</b></div>
</div>



{% endblock %}