* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
}

.navbar {
  padding: 0;
}

.navbar-tex {
  color: white;
  font-size: 1.2rem;
  display: block;
  padding-top: 0.8rem;
}

.cart-img {
  width: 40px;
  margin-top: -5px;
  padding: 0px;
}

.logout {
  margin: 5px;
  color: white;
  margin-top: 8px;
}

.fas {
  color: white;
}

.fas:hover,
.logout:hover {
  color: white;
}

.signup-message {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.signup-message a {
  width: 100px;
  padding: 5px;
  border: 2px solid white;
  background: rgb(190, 190, 190);
  text-decoration: none;
  color: white;
}

.signup-form,
.update-form {
  max-width: 450px;
  margin: 50px auto 0 auto;
  border: 2px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 0px 30px rgb(215, 215, 215),
    -10px 0px 30px rgb(215, 215, 215);
}

.update-form {
  max-width: 600px;
}

.signup-form h3 {
  width: 100%;
  background: rgb(207, 207, 207);
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.signup-form h4 {
  font-size: 1rem;
  margin-bottom: 13px;
  text-decoration: none;
}

.signup-form h4 a:hover {
  text-decoration: none;
}

.signup-form form {
  font-size: 1rem;
}

.btn-block {
  margin-top: 0px;
  width: 100%;
}

.errorlist {
  display: none;
}

.ul-error-list {
  margin-left: -10px;
}

.ul-error-list li {
  padding: 3px;
}

.btn-close {
  transition: 0.5s all ease;
}

.btn-close:hover {
  transform: rotate(-180deg);
  transition: 1s all ease;
}

p label[for="id_image"] {
  margin-top: -100px;
}

.margin {
  margin-top: -25px;
}

/* A pop message to confirm something */
.whole-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(3px);
  background: rgba(237, 237, 237, 0.336);
}

.btn-custom {
  width: 75px;
  margin: 0 10px 0 10px;
}

// Styling the index Page :
.carousel-img {
  padding: 0px;
  height: 300px;
  width: 100%;
  object-fit: cover;
}
p::first-letter {
  color: brown;
  font-size: xx-large;
}
.btn {
  position: relative;
  padding: 1.4rem 4.2rem;
  padding-right: 3.1rem;
  font-size: 1.4rem;
  color: brown;
  letter-spacing: 1.1rem;
  text-transform: uppercase;
  transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
  cursor: pointer;
  user-select: none;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  transition: inherit;
  z-index: -1;
}

.btn:hover {
  color: brown;
  transition-delay: 0.5s;
}

.btn:hover:before {
  transition-delay: 0s;
}

.btn:hover:after {
  background: var(--inv);
  transition-delay: 0.35s;
}
/* From center */

.from-center:before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 0;
  border: 1px solid var(--inv);
  border-left: 0;
  border-right: 0;
}

.from-center:after {
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background: var(--inv);
}

.from-center:hover:before {
  left: 0;
  width: 100%;
}

.from-center:hover:after {
  top: 0;
  height: 100%;
}
