* {
  padding: 0;
  margin: 0;
  color: #1a1f36;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.nav-link {
  color: white;
  font-size: 1.5rem;
  padding: 5px;
}

.navbar {
  padding: 0;
}

.navbar-tex {
  color: white;
  font-size: 1.2rem;
  display: block;
  padding-top: 0.8rem ;
}

.cart-img {
  width: 40px;
  margin-top: -5px;
  padding: 0px;
}

.logout {
  margin: 5px;
  color: white;
  margin-top: 8px;
}

.fas {
  color: white;
}

.fas:hover,
.logout:hover {
  color: white;
}

.nav-item {
  position: relative;
}

#cart-total {
  display: block;
  position: absolute;
  top: 2px;
  right: 2px;
  text-align: center;
  color: #fff;
  background: red;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  font-size: 14px;
}


/* CSS for category buttons in the store page */
.category-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.store-category {
  display: flex;
  width: 180px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3),
  -5px 5px 20px rgba(0, 0, 0, 0.3);
}

.category-container a {
  text-decoration: none;
  font-size: 2rem;
  background:rgba(237, 237, 237, 0.336);
  color: whitesmoke;
  border: 2px solid red;
  border-radius: 5px;
}

.store-category:hover {
  color: whitesmoke;
  background: black;
}

.fa-home {
  font-size: 1.8rem;
}

.col-md-8 a {
  font-size: 2rem;
  text-decoration: none;
}

.url-arrow {
  font-size: 2.5rem;
  margin: 10px;
}

/* CSS for the product container div */
.product-container {
  display: flex;
  justify-content: center;
  align-items: center;

}






.signup-message {
  position:fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  min-height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.signup-message a {
  width: 100px;
  padding: 5px;
  border: 2px solid white;
  background: rgb(190, 190, 190);
  text-decoration: none;
  color: white;
}

.signup-form, .update-form {
  max-width: 450px;
  margin: 50px auto 0 auto;
  border: 2px solid rgb(215, 215, 215);
  border-radius: 10px;
  padding: 20px;
  box-shadow:
    10px 0px 30px rgb(215, 215, 215),
   -10px 0px 30px rgb(215, 215, 215);
}

.update-form {
  max-width: 600px;
}

.signup-form h3 {
  width: 100%;
  background: rgb(207, 207, 207);
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
}

.signup-form h4 {
  font-size: 1rem;
  margin-bottom: 13px;
  text-decoration: none;
}

.signup-form h4 a:hover {
  text-decoration: none;
}

.signup-form form {
  font-size: 1rem;
}

.btn-block {
  margin-top: 0px;
  width: 100%;
}

.errorlist {
  display: none;
}

.ul-error-list {
  margin-left: -10px;
}

.ul-error-list li {
  padding: 3px;
}

.btn-close {
  transition: 0.5s all ease
}

.btn-close:hover {
  transform: rotate(-180deg);
  transition: 1s all ease
}

p label[for=id_image] {
  margin-top: -100px;
}

.margin {
  margin-top: -25px;
}


/* A pop message to confirm something */
.whole-page {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(3px);
  background: rgba(237, 237, 237, 0.336);
}

.btn-custom {
  width: 75px;
  margin: 0 10px 0 10px;
}




