/*   Uran CSS Code*/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 21px;

}

.navbar {
  width: 100%;
  /*background-color: #555;*/
  overflow: 100%;
}

.navbar a {
  
  float: left;
  padding: 14px;
  color: rgb(217, 138, 138);
  text-decoration: none;
  font-size: 21px;
}

.navbar a:hover {
  background-color: rgb(199, 203, 205);
}

/*.active {
  background-color: white;
}*/
img {
    width: 50px;
    height: 40px;
    
}


.tittle::after {
    content: "";
    background: #8c8c8e;
    width: 1000px;
    height: 2px;
    border-radius: 5px;
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);

}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }


  /*  end Uran CSS Code*/

  /* sara code index*/
  .carousel-img {
    padding: 0px;
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  p::first-letter {
    color: brown;
    font-size: xx-large;
  }
  .btn {
    position: relative;
    padding: 1.4rem 4.2rem;
    padding-right: 3.1rem;
    font-size: 1.4rem;
    color: brown;
    letter-spacing: 1.1rem;
    text-transform: uppercase;
    transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
    cursor: pointer;
    user-select: none;
  }
  
  .btn:before,
  .btn:after {
    content: "";
    position: absolute;
    transition: inherit;
    z-index: -1;
  }
  
  .btn:hover {
    color: brown;
    transition-delay: 0.5s;
  }
  
  .btn:hover:before {
    transition-delay: 0s;
  }
  
  .btn:hover:after {
    background: var(--inv);
    transition-delay: 0.35s;
  }

  /* end a sara code index*/