{% extends "main/base.html" %}

{% block body_block %}


<div class="d-flex justify-content-between align-items-center mb-4 cart-header">
  <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
  <a class="btn btn-outline-dark btn-lg" href="{% url 'store' %}">Continue Shopping</a>
</div>

<div class="cart-items-container"></div>
  {% for i in products %}
    <div class="cart-item">
      <div class="shopping-cart-img"><img src="{{i.product.image1.url}}" alt=""></div>
      <div class="shopping-cart-product-title">{{i.product.title}}</div>
      <div class="shopping-cart-product-price">{{i.product.price}}</div>
      <div class="arrow-down"><a href=""><img width="15" src="/media/arrow-down.png"></a></div>
      <div class="arrow-up"><a href=""><img width="15" src="/media/arrow-up.png"></a></div>
      <div class="shopping-cart-product-quantity">{{i.quantity}}</div>
      <div class="shopping-cart-product-total">{{i.get_total}}</div>
    </div>
  {% endfor %}
</div>
<div class="d-flex justify-content-between align-items-center mb-4 cart-header">
  <h2>Number of items: {{order.get_cart_items}}</h2>
  <h2>Total price: {{order.get_cart_total}}</h2>
</div>

{% endblock %}
