{% extends "main/base.html" %}

{% block body_block %}
<div class="row">
  <div class="col-md-8">
    <a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
    <span class="url-arrow">&#8250;</span>
    <a href="{% url 'store' %}"><span class="url-text">Store</span></a>
    <span class="url-arrow">&#8250;</span>
    <a href="{% url 'coffee_machines' %}"><span class="url-text">Coffee machines</span></a>
  </div>
</div>

  <div class="d-flex text-center row m-3"><h2>Coffee machines</h2></div>

<div class="product-container">
  <div class="card col-md-3 m-2">
    <img src="/media/products/Coffee_machine/5940476.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Moccamaster Optio</h5>
      <h3>Price: 3290kr</h3>
      <a href="#" class="btn btn-outline-secondary">Add to cart</a>
    </div>
  </div>

  <div class="card col-md-3 m-2">
    <img src="/media/products/Coffee_machine/5940476.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Moccamaster Optio</h5>
      <h3>Price: 3290kr</h3>
      <a href="#" class="btn btn-outline-secondary">Add to cart</a>
    </div>
  </div>

  <div class="card col-md-3 m-2">
    <img src="/media/products/Coffee_machine/5940476.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Moccamaster Optio</h5>
      <h3>Price: 3290kr</h3>
      <a href="#" class="btn btn-outline-secondary">Add to cart</a>
    </div>
  </div>


{% endblock %}
