{% extends "main/base.html" %}

{% block body_block %}

<div class="row">
  <div class="col-md-8">
    <a href="{% url 'home' %}"><i class="fa fa-home"></i></a>
    <span class="url-arrow">{{arrow|safe}}</span>
    <a href="{% url 'store' %}"><span class="url-text">Store</span></a>
    <span class="url-arrow">{{arrow|safe}}</span>
    <a href="{% url 'coffee_mugs' %}"><span class="url-text">Coffee mugs</span></a>
    <span class="url-arrow">{{arrow|safe}}</span>
    <span class="url-text">{{product_title}}</span>
  </div>
</div>




<h1>Html page for each product.</h1>
<h1>We need to create it only once and it will be a template for each product. Nice thing about django </h1>

{% endblock %}

