{% extends "main/base.html" %}

{% block body_block %}




<h1 class="d-flex justify-content-center m-5">Store page</h1>


<div class="product-container">
  
  <div class="card col-ms-3 m-3 category-container">
    <img src="/media/category_images/coffee_machines.jpg" alt="">
    <a href="{% url 'coffee_machines' %}" class="btn btn-outline-secondary">Coffee Machines</a>
  </div>

  <div class="card col-ms-3 m-3 category-container">
    <img src="/media/category_images/coffee_beans.jpg" alt="">
    <a href="{% url 'coffee_types' %}" class="btn btn-outline-secondary">Coffee Beans</a>
  </div>
  
  <div class="card col-ms-3 m-3 category-container">
    <img src="/media/category_images/coffee_mugs.jpg" alt="">
    <a href="{% url 'coffee_mugs' %}" class="btn btn-outline-secondary">Coffee Mugs</a>
  </div>

  <div class="card col-ms-3 m-3 category-container">
    <img src="/media/category_images/accessories.jpg" alt="">
    <a href="{% url 'other_accessories' %}" class="btn btn-outline-secondary">Accessories</a>
  </div>
</div>


{% endblock %}
