{% extends "main/base.html" %}

{% block body_block %}
  <h1>Wish List</h1>
  
  <div class="product-container">
    {% for product in products %}
      <div class="product">
        <div class="imgwrap">
          <img src="{{product.image1.url}}">
          <a href="{% url 'add_to_favourite' product.id %}">
            <img class="heart-btn" src="/media/heart_full.png" alt="">
          </a>
        </div>
        <div class="card-title-custom">{{product.title}}</div>
        <div class="card-body-custom">
          <div class="card-price-custom">{{product.price}}:-</div>
          <a href="" class="btn btn-outline-success add-to-cart-btn">
            <img class="cart-img add-to-cart-img" src="/media/add_to_cart.png" alt=""/>
          </a>
        </div>
      </div>
    {% endfor %}
  </div>


{% endblock %}
